{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-lg mt-3">
        <div class="card-header bg-light">
          <h3 class="text-center font-weight-light my-2">Reset Password</h3>
        </div>
        <div class="card-body">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.email.label(class="form-label") }}
              {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid") }}
              {% for error in form.email.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
              {% else %}
              {{ form.email(class="form-control") }}
              {% endif %}
            </div>
            <div class="d-grid">
              {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
          </form>
        </div>
        <div class="card-footer text-center py-3">
          <div class="small">
            <a href="{{ url_for('login') }}">Return to login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}